* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main {
  width: 626px;
  margin: 64px auto;
  text-align: center;
}

.main img {
  width: 350px;
  margin-bottom: 32px;
}

h1 {
  color: #3f3d56;
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

h1 span {
  font-weight: 700;
  color: #ee24ff;
}

.first-second-paragraph {
  width: 540px;
  margin-bottom: 32px;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

strong {
  color: #3f3d56;
  font-weight: 700;
}
 .last-paragraph {
    width: 626px;
    text-align: center;
    margin: 0px ;
    
 }